files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_yarn.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh | bash
      curl -o- -L https://yarnpkg.com/install.sh > /usr/local/bin/yarn-install.sh
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51_install_packages.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";