files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/59_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # install node_modules with yarn
            # cd "${app}";
            sudo yarn install --production=false;
            sudo yarn build