files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/42_install_yarn.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Installing Yarn"
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      yum install -y yarn

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51_install_packages.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)"
      cd "${app}"

container_commands:
  00_01_yarn:
    command: |
      sudo yarn install
      sudo yarn build
    ignoreErrors: true
    leader_only: true
