packages:
  yum:
    nodejs: []
    # Add any other packages you need here

commands:
  01_nodejs_setup:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | bash -"

  02_install_nodejs:
    command: "yum install -y nodejs"

container_commands:
  03_install_yarn:
    command: |
      echo "Installing Yarn"
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      yum install -y yarn

  04_yarn_install:
    command: "yarn install"
    cwd: "/path/to/your/app"  # Update this with the correct path
    leader_only: true

  05_yarn_build:
    command: "yarn build"
    cwd: "/path/to/your/app"  # Update this with the correct path
    leader_only: true
