files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            set -euxo pipefail

            EB_NODE_VERSION=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)
            echo "EB node version: $(EB_NODE_VERSION)"

            # Make sure Node binaries can be found (required to run npm).
            # And this lets us invoke npm more simply too.
            export PATH=/opt/elasticbeanstalk/node-install/node-v$EB_NODE_VERSION-linux-x64/bin:$PATH

            if yarn -v; then
                echo 'Yarn already installed.'
            else
                echo 'Installing yarn...'
                npm install yarn -g
            fi

            # install node_modules with yarn
            cd "${app}";
            sudo yarn install --production=false;
            sudo yarn build