files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_yarn.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh | bash
      curl -o- -L https://yarnpkg.com/install.sh > /usr/local/bin/yarn-install.sh
      /bin/bash -c ". ~/.nvm/nvm.sh && \
          nvm install $VERSION_NODE_8 && nvm use $VERSION_NODE_8 && \
      	  nvm install $VERSION_NODE_10 && nvm use $VERSION_NODE_10 && \
      	  npm install -g sm grunt-cli bower vuepress gatsby-cli && \
          bash /usr/local/bin/yarn-install.sh --version $VERSION_YARN && \
      	  nvm install $VERSION_NODE_12 && nvm use $VERSION_NODE_12 && \
      	  npm install -g sm grunt-cli bower vuepress gatsby-cli && \
          bash /usr/local/bin/yarn-install.sh --version $VERSION_YARN && \
      	  nvm alias default node && nvm cache clear"
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51_install_packages.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";