files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_nodejs.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Installing Node.js version 12.x"
      curl --silent --location https://rpm.nodesource.com/setup_12.x | bash -

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_yarn.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Installing Yarn"
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      yum -y install yarn --skip-broken

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51_install_packages.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)"
      cd "${app}"

